<?php 
return [
    'redis' => [
    'scheme' => 'tcp',   
    'host' => '127.0.0.1',
    'port' => 32768,
    ],
    
    'db' => [
        'host' => 'localhost',
        'dbname' => 'blog001',
        'user' => 'root',
        'pass' => '',
        'charset' => 'utf8',
    ],

    'email' => [
        'port' => 25,
        'host' => '',
        'name' => '',
        'pass' => '',
        'from_email' => '',
        'from_name' => '',
    ]
    ];
?>