<script src="/js/jquery-3.2.1.min.js"></script>
<h4>系统<h4>
<a href="/">首页</a>
<a href="/blog/index">日志列表</a>
<a href="/user/charge">充值</a>
<a href="/user/orders">充值列表</a>
<?php if(isset($_SESSION['id'])): ?>
  <?=$_SESSION['email']?>
    ( <span id="span-money" style="color:#F00;font-weight:bold;"><?=$_SESSION['money']?></span>元 )
    <input id="update-money" type="button" value="更新余额">
    <a href="/user/avatar">设置头像</a>
    <a href="/blog/makeExcel">导出 Excel</a>
    <a href="/user/logout">退出</a>
<?php else: ?>
<a href="/user/register">注册</a>
<a href="/user/login">登入</a>
<?php endif; ?>
<hr>
<script>
  $("#update-money").click(function(){
    $("#span-money").load("/user/money");
  });
</script>
