<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <?php view('common.nav') ?>

    <h4>上传头像</h4>
    <form action="/user/setavatar" method="post" enctype="multipart/form-data">
        <?php echo csrf_field() ?>
        <div>
            头像：
            <input id="img" type="file" name="avatar">
        </div>
        <div>
            <input type="submit" value="上传">
        </div>
     
    </form>

    <?php view('common.footer')?> 
</body>
</html>
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
    var img = document.getElementById('img');
    img.onchange=function(){
        var img1 = this.files[0];
        var fileSize = img1.size;
        var perSize = 4096;
        var count = Math.ceil(fileSize / perSize);
        var name = "img_"+Math.random(1,99999);
        for(var i=0;i<count;i++){
            var img0 = img1.slice(i*perSize,i*perSize+perSize)
            var f = new FormData()
            f.append('img',img0)
            f.append('count',count)
            f.append('i',i)
            f.append('size',name)
            f.append('img_name',name)
            $.ajax({
                type:"POST",
                url:"/user/uploadbig",
                contentType:false,
                processData:false,
                success:function(data){

                }
            });

        }
    }
</script>